<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">History of the Society</h3>
<p class="mb-4">Dharmarao Shikshan Mandal Aheri was established by late Shrimant Raje Vishwesharrao Maharaj in 1958. It is the first education society in this area which has taken initiative to create opportunities for the overall development of the tribal community. Before the establishment of the society, the students were deprived of the rights of education due to the lack of schools and colleges. It was started with Dharmarao Krushi Vidyalaya Aheri in 1958. Today, following schools & colleges are run by this society.</p>
   <b> Three Senior Colleges </b><br>
   <b> Ten Junior Colleges </b><br>
   <b> Twenty-One High Schools </b><br>
   <b> Three Ashram-Schools </b><br>
 
   <h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Time Event</h3>

   <p class="mb-4"> Dharmarao Shikshan Mandal Aheri was established in 1958. At the present date the society runs three senior colleges. Our Raje Dharmarao Arts and Commerce College was established in 1983. The society runs one science college also at the taluka place named Raje Dharmarao Science College Aheri to inculcate the scientific and technological temperament of the students. It was established in 1987. The society started Raje Dharmarao Arts and Commerce College Mulchera in 1994 to impart the quality higher education to the students of Bengali Community.</p>

