<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">History of College</h3>
<p class="mb-4"> Raje Dharmarao Arts and Commerce College Allapalli was established by Dharmarao Shikshan Mandal Aheri in 1983. We started this college with 38 students in 1983-84. In 1984-85, we had the strength of 60 students. In 1985-86, it became 88. In 1986-87, it became 102. In 1989-90, it became 172. In 1990-91, it became 318. In 1991-92, it became 604. In 1993-94, it became 646. Now we have 688 students in our college. Our students recurrently shine in curricular, co-curricular and extra-curricular activities. </p>
<h2>Time Live Event</h2>
<p class="mb-4"> Raje Dharmarao Arts and Commerce College Allapalli was established in 1983. In the beginning, it was a commerce college. In 1991-92, Arts Faculty was started.  </p>
<h2>About Founder</h2>
<p class="mb-4">  Dharmarao Shikshan Mandal, Aheri was formed by Late Shrimant Raje Vishweshwarrao Maharaj. He has found ‘Nag Vidarbha Andolan Samiti’ and fought for ‘Separate Vidarbha’ till the end of his life. He rendered his services as an MLA as well as an MP. In his lifetime, he never compromised with his ideals. </p>
<p class="mb-4"> </p>
<p class="mb-4"> </p>