<h3 class="section-title bg-white text-center text-primary px-3">Admission Process</h3>


    <p>The rules and regulations for admission in the college are as per norms of Gondwana University Gadchiroli and the college. Students should fill up admission form by his own handwriting.</p>
<p> 1) Necessary documents to be attached to the application form in two copies at the time of admission are as follows :- </p>
        i) Certificate of SSC Examination (Two Xerox Copies) <br>
         ii) Certificate of HSC Examination (Two Xerox Copies) <br>
         iii) School Leaving Certificate (Original & Two Xerox Copies) <br>
         iv) Caste Certificate (Two Xerox Copies- if applicable) <br>
         v) Passport Size Photograph (Two Copies)  <br>
         <p>2) Fees Structure as per the rules of Gondwana University Gadchiroli.</p>
         <p>3) Students should have their own email ID for the completion of the admission process.</p>
         <p>4) Submission of the photo copy of Aadhar Card.</p>
         <p>5) Submission of the photo copy of Votar Card. (For above 18 years).</p>
         <p>6) Minimum 75% attendance for the classes is mandatory. </p>
         <p>7) Semester pattern and credit based marking system are applicable to the students.</p>
