<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Vocational Courses (MCVC)</h3>
<div class="side">

    <h2>Auto Engineering - </h2>
   <p> <b> XI Subjects:- </b></p>
                             1) Compulsory English <br>
                             2) Compulsory Marathi <br>
                                  3) General Foundation Course <br>
                              4) Automotive Engine Technology (G.A.) <br>
                              5) Automotive Body & Paint Technology (G.B.) <br>
                              6) Automotive Electricals & Electronics Technology (G.C) <br>
    
   <p> <b> XII Subjects:-  </b></p>
                            1) Compulsory English <br> 
                            2) Compulsory Marathi  <br>
                                 3) General Foundation Course <br>
                            4) Automotive Vehicle Technology (G.A.) <br>
                            5) Automotive Dealership (G.B.) <br>
                            6) Automotive Service Technology & Driving Skills (G.C.) <br>
     
</div>
    <div class="bar">
    <h2> Accounting & Office Motivation - </h2>
    <p> <b>   XI Subjects:- </b></p>
                                  1) Compulsory English <br> 
                                  2) Compulsory Marathi <br>
                                       3) General Foundation Course <br>
                                  4) Office Management (U.A.) <br>
                                  5) Fundamental of Financial Account (U.B.) <br>
                                  6) Fundamental of Costing & Auditing (U.C.) <br>
    
              <p> <b>  XII Subjects:- </b></p>
                                1) Compulsory English <br>
                                2) Compulsory Marathi <br>
                                     3) General Foundation Course <br>
                                4) Office Motivation (U.A.) <br>
                                5) Advance Financial Account (U.B.) <br>
                                6) Advance Costing & Auditing (U.C.) <br>

</div>
   
