<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Under Graduation</h3>
<div class="bar">
<h2>B.A. ( Arts Faculty) – </h2>
<p><b>B.A. I (CBCS Semester Pattern)</b></p> 
            Compulsory Subjects –  <br>                              
                                  1) English <br>
                                  2) Marathi  <br>
            Optional Subjects – (Any Three of the following) <br>
                                                   1) Economics <br>
                                                   2) Geography <br>
                                                   3) Political Science <br>
                                                   4) Sociology <br>
<p><b>B.A. II & III (Same as the above)</b></p> 

<b>Note:-</b> A) Foundation Course (Compulsory for B.A.I) <br>
                  Sem I   –  Environmental Studies/Awareness/Concerns <br>
                  Sem II  – Democracy and Good Governance. <br>
            B) Generic Elective Course (Compulsory for B.A.III) <br>
                  Sem V  – General Research Methodology I <br>
                  Sem VI – General Research Methodology II <br>
                         –  Project <br>
        .
</div>

<div class="side">
<h2>  B.Com (Commerce Faculty) - </h2>
<p><b> B.Com. I (CBCS Semester Pattern) – </b></p>
                       for Semester I & II Subjects –  <br>
                                            1) English <br>
                                            2) Marathi <br>
                                            3) Financial Account <br>
                                            4) Business Economics <br>
                                            5) Principles of Management <br>
                                            6) Statistic Techniques & Applied Mathematics <br> 
                                            7) Marketing Management <br>
                                 
   <p><b>B.Com. II (CBCS Semester Pattern) –   </b></p>
                   For Semester III Subject –    <br>
                                                  1) English <br>
                                                  2) Marathi <br>
                                                  3) Cost Account  <br>
                                                  4) Corporate Account <br>
                                                  5) Company Law <br>
                                                  6) Monetary Economics <br>
                                                                                        7) Marketing Management
 
                   For Semester IV Subject –    <br>
                                                  1) English <br>
                                                  2) Marathi <br>
                                                  3) Management Account <br>
                                                  4) Corporate Account <br>
                                                  5) Secretarial Practice <br>
                                                  6) Monetary Economics <br>
                                                                                        7) Marketing Management
     
<p><b>B.Com. III (CBCS Semester Pattern) – </b></p>
                   For Semester V Subject –  <br>
                                      1) Commercial Law <br>
                                      2) Auditing  <br>
                                      3) Indian Economics Urban <br>
                                      4) Advance Account <br>
                                      5) Business Communication  <br>                                                6) Marketing Management
                   For Semester VI Subject –   <br>
                                     1) Corporate Law <br>
                                     2) Income Tax <br>
                                     3) Indian Economics Rural <br>
                                     4) Advance Account <br>
                                     5) Business Communication <br>  
                                     6) Marketing Management <br>
                                                                                         
<b>Note:-</b> A) Foundation Course (Compulsory for B.Com.II) <br>
                  Sem III – Democracy, Elections and Good Governance. <br>
                  Sem IV – ENV-STU Environmental Studies <br>

                  </div>