<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Non-Teaching Staff</h3>

<div class="container" style="padding: 50px 0px ">
    <div class="row">
        <div class="col-xl-12 offset-xl-2">
            <div class="events-details-form faq-area-form mb-30 p-0">
                <form>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                                
                                <table style="border: 1px solid; ">
                                    <tr style="background-color: #FFF9D7; ">
                                        <th style="padding: 10px 40px; border: 1px solid;">Sr. No. </th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Name of The Employee</th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Designation </th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Qualification </th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Contact No.</th>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">01</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Narendra. Matte </td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Head Clerk</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">M.Com.</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">9421316155</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">02</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Vinod S. Uike </td>    
                                        <td style="padding: 10px 40px; border: 1px solid;"> Junior Clerk</td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> HSC</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">8605785849</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">03</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Rajesh G.Madavi </td>
                                        <td style="padding: 10px 40px; border: 1px solid;">  Library Attendant</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">HSC</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">9405490520</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">04</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Devidas N. Dewal</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Peon</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">SSC</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">7499776856 </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">05</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Pradip V. Talande</td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Peon</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">SSC</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">8806695406</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">06</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri.Hoshant N. Wasekar</td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Peon</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">B.E.</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">9421733024</td>
                                    </tr>
                                    
                                </table>

                        </div>
                    
                    </div>
                   
                </form>
            </div>

        </div>
    </div>
</div>



