<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Physical Infrastructure</h3>
<div class="ce">
<p class="gray-color" style="text-align: left;">• Total area of our land is 1.68 Hectare </p>
<p class="gray-color" style="text-align: left;">• We have 08 class-rooms. </p>
<p class="gray-color" style="text-align: left;">• One administrative room </p>
<p class="gray-color" style="text-align: left;">• One staff- room </p>
<p class="gray-color" style="text-align: left;">• Computer Lab</p>
<p class="gray-color" style="text-align: left;">• Library with separate reading room </p>
<p class="gray-color" style="text-align: left;">• Physical and sports Department </p>
<p class="gray-color" style="text-align: left;">• Gymkhana </p>
<p class="gray-color" style="text-align: left;">• Geography Department </p>
<p class="gray-color" style="text-align: left;">• 05 extra rooms for various purposes </p>
</div>




