<!-- <div class="team-area pt-95 pb-70"> -->
    <div class="container" style="padding: 50px 0px">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="events-form-title text-left mb-30">
                    <h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Gallery</h3>
                </div>
                <div class="row">
                    <div class="events-form-title text-left mb-30">
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <img src="assets/img/gallery/g1.jpeg" alt="">
                            <img src="assets/img/gallery/g2.jpeg" alt="">                         
                            <img src="assets/img/gallery/g3.jpeg" alt="">       
                            <img src="assets/img/gallery/g4.jpeg" alt="">         
                            <img src="assets/img/gallery/g5.jpeg" alt="">               
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <img src="assets/img/gallery/g6.jpeg" alt="">
                            <img src="assets/img/gallery/g7.jpeg" alt="">                         
                            <img src="assets/img/gallery/g8.jpeg" alt="">       
                            <img src="assets/img/gallery/g9.jpeg" alt="">         
                            <img src="assets/img/gallery/g10.jpeg" alt=""> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <img src="assets/img/gallery/g11.jpeg" alt="">
                            <img src="assets/img/gallery/g12.jpeg" alt="">                         
                            <img src="assets/img/gallery/g13.jpeg" alt="">       
                            <img src="assets/img/gallery/g14.jpeg" alt="">         
                            <img src="assets/img/gallery/g15.jpeg" alt=""> 
                        </div>
                    </div>
                   
    
                </div>
    
            </div>
        </div>
    </div>
    <!-- </div> -->
