
    <!-- <div class="team-area pt-95 pb-70"> -->
        <div class="container" style="padding: 50px 0px">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                    <!-- <div class="section-title mb-50 text-center"> -->
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Vission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                            <!-- <ul>
                                <li>•To inculcate knowledge skills, national integration and preserve cultural heritage.</li>
                                <li>•To encourage individuality and diversity within a climate of tolerance and mutual understanding among the students.</li>
                                <li>•To remove blind faith, addiction and superstition from tribal and  backward communities of the society.</li>
                                <li>•To promote freedom, secularism and social justice to the students.</li>

                            </ul> -->
                            <p class="gray-color" style="text-align: left;">To bring the naxal- affected, tribal and poor youth of the area into the main stream of the national power through a continuous self and external quality evaluation.
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                    <!-- <div class="section-title mb-50 text-center"> -->
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Mission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                            <!-- <ul>
                                <li>•To inculcate knowledge skills, national integration and preserve cultural heritage.</li>
                                <li>•To encourage individuality and diversity within a climate of tolerance and mutual understanding among the students.</li>
                                <li>•To remove blind faith, addiction and superstition from tribal and  backward communities of the society.</li>
                                <li>•To promote freedom, secularism and social justice to the students.</li>

                            </ul> -->
                            <p class="gray-color" style="text-align: left;">• To create specific academic programs.</p>
                            <p class="gray-color" style="text-align: left;">• To create the academic environment to get the best results in teaching-       learning process.</p>
                            <p class="gray-color" style="text-align: left;">• To encourage self evaluation and innovations in education.</p>
                            <p class="gray-color" style="text-align: left;">• To conduct and participate in quality-related training programs for the promotion of teaching-learning process.  </p>
                            <p class="gray-color" style="text-align: left;">• To collaborate with stakeholders of the college for quality evaluation,    promotion and sustenance.</p> 
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
        
    <!-- </div> -->

