<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Post Graduation</h3>
<div class="side">
    <h2>M.A. (Economics)</h2>
   <p><b> M.A. I  (Economics - CBCS Semester Pattern) </b></p>
                       For Semester I –   <br>
                                                    1) Micro Economics <br>
                                                    2) Macro Economics <br>
                                                    3) Agricultural Economics <br>
                                                    4) Public Economics <br>
  
                       For Semester II –   <br>
                                                    1) Micro Economics-II <br>
                                                    2) Macro Economics-II <br>
                                                    3) Agricultural Economics-II <br>
                                                    4) Environment Economics <br>
  
  <p><b>   M.A. II  (Economics - CBCS Semester Pattern) </b></p>
              For Semester III & IV –  <br> 
              1) Economic Growth & Economical Development  <br>
                                              2) International Trade & Finance <br>
                                              3) Research Methodology <br>
                                              4) Financial Institution & Market <br>

    </div>