 
        <div class="container" style="padding: 50px 0px">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Vission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                           
                            <p class="gray-color" style="text-align: left;">   To make capable the students of this area for the national service through a continuous self and external quality evaluation.
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Mission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                           
                            <p class="gray-color" style="text-align: left;">• To generate chances to bring out the dormant talents of the students.</p>
                            <p class="gray-color" style="text-align: left;">• To suggest the schools and colleges to conduct specific academic programs.</p>
                            <p class="gray-color" style="text-align: left;">• To generate academic atmosphere in the schools and colleges of the management.</p>
                            <p class="gray-color" style="text-align: left;">• To collaborate with the stake-holders of the schools and colleges for the overall quality development of the society. </p>
                        </div>
                    </div>
                </div>
      