<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Management-Body</h3>

<div class="container" style="padding: 50px 0px">
    <div class="row">
        <div class="col-xl-12 offset-xl-2">
            <div class="events-details-form faq-area-form mb-30 p-0">
                <form>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                                
                                <table style="border: 1px solid; ">
                                    <tr style="background-color: #FFF9D7; ">
                                        <th style="padding: 10px 40px; border: 1px solid;">Sr. No. </th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Name</th>
                                        <th style="padding: 10px 40px; border: 1px solid;">Designation </th>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">01</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shrimant Raje Ambrishrao Raje Satyawanrao Maharaj</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">President</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">02</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Rani Rukhminidevi Raje Satyawanrao Maharaj </td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Vice-President</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">03</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri. Madhukarrao Lachchayyaji Madderlawar </td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Secretary</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">04</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Kumar Awadheshrao Raje Satyawanrao Maharaj</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">  Treasurer </td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">05</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri. Bodaji Masu Gawade </td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Joint-Secretary</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">06</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Rajkumari Prerna Raje Satyawanrao Maharaj </td>
                                        <td style="padding: 10px 40px; border: 1px solid;">  Member</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">07</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri. Keshav Somaji Kadte </td>
                                        <td style="padding: 10px 40px; border: 1px solid;">  Member</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">08</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Smt. Sunita Mohan Madavi  </td>
                                        <td style="padding: 10px 40px; border: 1px solid;"> Member</td>

                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 40px; border: 1px solid;">09</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">Shri. Kishor Subhanrao Sadmek</td>
                                        <td style="padding: 10px 40px; border: 1px solid;">  Member</td>

                                    </tr>
                                    
                                </table>

                        </div>
                    
                    </div>
                   
                </form>
            </div>

        </div>
    </div>
</div>

