<h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Junior College</h3>
<div class="side">

   <h2> Arts – XI & XII –Subjects:- </h2>
                                    1) Compulsory English <br>
                                    2) Compulsory Marathi  <br>
                                    3) Economics  <br>
                                    4) Geography  <br>
                                    5) Political Science <br>
                                    6) Sociology  <br>

   <h2> Commerce XI & XII – Subjects:- </h2>
                                     1) Compulsory English <br>
                                     2) Compulsory Marathi <br>
                                     3) Economics <br>
                                     4) Secretarial Practice <br>
                                     5) Organization of Commerce <br>
                                        6) Book Keeping& Accountancy <br>

    </div>